<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials/partials.html :: head ('Get Recipes')"></head>
<body>

  <!--NAV-->
  <nav th:replace="partials/partials.html :: navbar"></nav>

  <div class="container">

    <!--HEADER-->
    <section th:replace="partials/partials.html :: header ('Get Recipes')"></section>

    <!--MAIN-->
    <!--input form-->
<!--    <form id="get-recipe-list-form" class="form-inline my-2 my-lg-0">-->
<!--      <input id="search-input" class="form-control mr-sm-2" type="search" placeholder="Search">-->
<!--      <button id="get-search" class="btn btn-outline-success my-3 w-100" type="submit">Search</button>-->
<!--    </form>-->
<!--    &lt;!&ndash;cards&ndash;&gt;-->
<!--    <div class="container" id="recipe-results"></div>       &lt;!&ndash;Rem, JS pops this&ndash;&gt;-->
<!--    &lt;!&ndash;details&ndash;&gt;-->
<!--    <div class="container" id="recipe-details"></div>-->

    <!--MODAL-->
<!--    <div th:replace="partials/partials.html :: recipe-details-modal"></div>-->



  </div>
  <!--FOOTER-->
  <footer th:replace="partials/partials.html :: footer"></footer>


  <!--SCRIPTS-->
  <section th:replace="partials/partials.html :: script-section"></section>
  <script th:src="@{/js/keys.js}"></script>
<!--  <script th:src="@{/js/search-get-recipes.js}"></script>-->

</body>
</html>