<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials/partials.html :: head ('Edit Profile')"></head>
<body>

    <!--NAV-->
    <nav th:replace="partials/partials.html :: navbar"></nav>
    <!--MAIN-->
    <div class="container d-flex align-items-center justify-content-center">
        <div class="border border rounded-3 p-4 m-5 bg-secondary bg-opacity-10" style="width: 40em">
            <div class="container d-flex align-items-center justify-content-center mb-3">
                <section th:replace="partials/partials.html :: header ('Edit Profile')"></section>
            </div>

            <form th:action="@{/user/edit}" method="post" th:object="${user}" onsubmit="submitForm(event)">
                <input type="hidden" class="form-control" id="username" th:field="*{username}">
                <div class="container d-flex justify-content-center align-items-center mb-3">
                    <div id="upload-img" class="btn rounded-circle bg-secondary d-flex justify-content-center" style="height: 9em; width: 9em;">
                        <div class="pt-3">
                            <i class="fa-solid fa-user fa-3x"></i>
                            <p>Upload an Image</p>
                        </div>
                    </div>
                    <input id="img" type="hidden" th:field="*{avatar}" th:errorClass="is-invalid">
                    <div th:if="${#fields.hasErrors('avatar')}" th:errors="*{avatar}" class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" th:field="*{email}" th:errorClass="is-invalid">
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{username}" class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" th:field="*{password}" th:errorClass="is-invalid">
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{username}" class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label for="confirm" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm" >
                </div>
                <div class="mb-3">
                    <label for="bio" class="form-label">Bio</label>
                    <textarea rows="5" cols="80" class="form-control" id="bio" th:field="*{bio}" th:errorClass="is-invalid"></textarea>
                    <div th:if="${#fields.hasErrors('bio')}" th:errors="*{bio}" class="invalid-feedback"></div>
                </div>


                <button id="submit" type="submit" value="post" class="btn btn-success ms-2">Submit</button>
            </form>


            <div class="container d-flex justify-content-center align-items-center mt-4">
                <form th:action="@{/user/delete}" method="post" th:object="${user}" onsubmit="deleteCheck(event)">
                    <input id="id" type="hidden" th:field="*{id}">
                    <button class="btn btn-danger" id="delete" type="submit" value="post">Delete Account</button>
                </form>
            </div>
        </div>
    </div>





    <!--SCRIPTS-->
    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    <section th:replace="partials/partials.html :: script-section"></section>
    <script th:src="@{/js/filestack-intigration.js}"></script>
    <script th:src="@{/js/password-check.js}"></script>
    <!--FOOTER-->
    <footer th:replace="partials/partials.html :: footer"></footer>
</body>
</html>