<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials/partials.html :: head ('Profile Page')"></head>
<body>

    <!--NAV-->
    <nav th:replace="partials/partials.html :: navbar"></nav>

    <!--MAIN-->
    <div class="container w-75">
        <!--FIRST ROW-->
        <div class="row">
            <!--AVATAR-->
            <div class="col-md-4 text-center">
                <div class="row">
                    <a th:href="@{/user/profile}" class="col-12">
                        <img th:src="${user.avatar}" th:alt="${user.username} + ' avatar'"
                             class="img-fluid rounded-circle mb-3" style="width: 70%">
                    </a>
                </div>
                <!--MENU-->
                <div class="row">
                    <!--list-->
                    <div class="mt-1 ">
                        <div class="d-flex justify-content-center">
                            <a class="btn border-0 mx-5" type="submit" th:href="@{/admin/get-recipes}">
                                <i class="fa-regular fa-square-plus fa-2x"></i> Recipe
                            </a>
                            <a class="btn border-0" type="submit" th:href="@{/recipes/create}">
                                <i class="fa-regular fa-pen-to-square fa-2x"></i> Create
                            </a>
                            <a class="btn border-0 mx-3 d-block d-md-none" type="submit" th:href="@{/user/edit}">
                                <i class="fa-solid fa-user-gear fa-2x mx-3"></i> Edit
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--USER INFO-->
            <div class="col-md-8 text-center text-md-start">
                <!--NAME & EDIT PROFILE BTN-->
                <div class="row">
                    <!--name-->
                    <div class="col-12 col-md-3">
                            <h1><span th:text="${user.username}"/></h1><br>
                    </div>
                    <!--edit btn-->
                    <div class="d-none d-md-block col-md-7">
                        <a class="btn border-0 mx-3" type="submit" th:href="@{/user/edit}">
                            Edit Profile <i class="fa-solid fa-user-gear fa-1x mx-3"></i>
                        </a>
                    </div>
                </div>
                <!--USER ACTIVITY INFO-->
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="d-flex justify-content-between">
                            <div>
                                <span class="font-weight-bold" th:text="${createdRecipeTotal}"></span> Created Recipes
                            </div>
                            <div>
                                <span class="font-weight-bold" th:text="${remixRecipeTotal}"></span> Remix
                            </div>
                            <div>
                                <span th:text="${#arrays.length(user.getUserFavorites())}">#</span> Favorites
                            </div>
                            <div>
                                <span class="font-weight-bold" th:text="${rRecipeTotal}"></span> Rated
                            </div>
                        </div>
                    </div>
                    <!--INSTAGRAM BLANK SPACE-->
                    <div class="col-md-8"></div>
                </div>
                <!--USER BIO-->
                <div class="row">
                    <!--bio-->
                    <div class="col-md-8 mt-3">
                        <div class="mx-1" th:text="${user.bio}"></div>
                        <div>
                            <a class="text-decoration-none" th:href="'mailto:' + ${user.email}"><span th:text="${user.email}"></span></a>
                        </div>
                    </div>
                    <!--space-->
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <!--SECOND ROW-->
        <div class="row">
            <div class="col-12">
                <!--TABS-->
                <ul class="nav nav-tabs justify-content-center text-capitalize small border-0" id="user-tabs" role="tablist">
                    <!--1-->
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active border-0" id="user-created-tab" data-bs-toggle="tab" data-bs-target="#user-created" type="button" role="tab">
                            <i class="fa-solid fa-square-plus mx-1"></i> created
                        </button>
                    </li>
                    <!--2-->
                    <li class="nav-item" role="presentation">
                        <button class="nav-link border-0" id="user-remix-tab" data-bs-toggle="tab" data-bs-target="#user-remix" type="button" role="tab">
                            <i class="fa-solid fa-recycle mx-1"></i> remixed
                        </button>
                    </li>
                    <!--3-->
                    <li class="nav-item" role="presentation">
                        <button class="nav-link border-0" id="user-favorites-tab" data-bs-toggle="tab" data-bs-target="#user-favorites" type="button" role="tab">
                            <i class="fa-solid fa-bookmark mx-1"></i> favourited
                        </button>
                    </li>
                    <!--4-->
                    <li class="nav-item" role="presentation">
                        <button class="nav-link border-0" id="user-liked-tab" data-bs-toggle="tab" data-bs-target="#user-liked" type="button" role="tab">
                            <i class="fa-solid fa-heart mx-1"></i> liked
                        </button>
                    </li>
                </ul>
                <!--DATA-->
                <div class="tab-content mt-2" id="right-tab-contents">
                    <!--1: recipe created-->
                    <div class="tab-pane active" id="user-created" role="tabpanel">
                        <div class="d-flex flex-wrap justify-content-center">
                            <div th:each="cRecipe : ${createdRecipes}" style="width: 200px; margin:10px 25px">
                                <div style="position: relative;">
                                    <a th:href="@{/recipes/details/{id}(id=${cRecipe.id})}">
                                        <img th:src="${cRecipe.imgUrl}" th:alt="${cRecipe.title}" class="img-thumbnail">
                                    </a>
                                    <div style="position: absolute; left: 180px; top: -5px">

                                        <button class="badge badge-warning recipe-edit-btn"
                                                style="color: black"
                                                th:data="${cRecipe.id}">

                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </button>
                                    </div>
                                    <div style="position: absolute; left: 180px; top: 30px">
                                        <button class="badge badge-danger recipe-delete-btn"
                                                href="#"
                                                style="color: black"
                                                th:data="${cRecipe.id}">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--2: recipe remixed-->
                    <div class="tab-pane fade" id="user-remix" role="tabpanel">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A assumenda autem beatae distinctio ducimus earum illo ipsum magni minima non odio, omnis placeat praesentium quisquam vitae? Commodi iusto laborum vel?
                    </div>
                    <!--3: favourited recipes-->
                    <div class="tab-pane fade" id="user-favorites" role="tabpanel">
                        <div class="d-flex flex-wrap justify-content-center">
                            <div th:each="fRecipe : ${user.getUserFavorites()}" style="width: 200px; margin:10px 25px">
                                <div style="position: relative;">
                                    <a th:href="@{/recipes/details/{id}(id=${fRecipe.id})}">
                                        <img th:src="${fRecipe.imgUrl}" th:alt="${fRecipe.title}" class="img-thumbnail">
                                    </a>
                                    <div style="position: absolute; left: 180px; top: -5px;">
                                        <button class="badge badge-primary recipe-edit-btn"  style="color: black" th:data="${fRecipe.id}">
                                            <i class="fa-solid fa-recycle"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--3: liked recipes-->
                    <div class="tab-pane fade" id="user-liked" role="tabpanel">
                        <div class="d-flex flex-wrap justify-content-center">
                            <div th:each="rRecipe : ${rRecipes}" style="width: 200px; margin:10px 25px">
                                <a th:href="@{/recipes/details/{id}(id=${rRecipe.id})}">
                                    <img th:src="${rRecipe.imgUrl}" th:alt="${rRecipe.title}" class="img-thumbnail">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--FOOTER-->
    <footer th:replace="partials/partials.html :: footer"></footer>

    <!--SCRIPTS-->
    <section th:replace="partials/partials.html :: script-section"></section>
    <script th:src="@{/js/profile-page.js}"></script>

</body>
</html>