<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/partials/partials.html :: head ('Profile Page')"></head>
<body>

    <!--NAV-->
    <nav th:replace="/partials/partials.html :: navbar"></nav>

    <!--HEADER-->
    <div class="text-center pt-5">
    <section th:replace="/partials/partials.html :: header('Profile Page')"></section>
    </div>

    <!--MAIN-->
    <img src="https://images.pexels.com/photos/3629537/pexels-photo-3629537.jpeg" class="w-25 rounded-circle mx-auto d-block" alt="lady holding a spinach plant over her face">
<!--    <th:span th:each="user : ${post.user}">-->
<!--    <p th:text="${user}"></p>-->
<!--    </th:span>-->






    <!--FOOTER-->
    <footer th:replace="/partials/partials.html :: footer"></footer>

    <!--SCRIPTS-->
    <section th:replace="/partials/partials.html :: script-section"></section>

</body>
</html>