<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">

<!--HEAD-->
<head th:fragment="head (title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <!--VIEWPORT-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FAVICON-->
    <link rel="shortcut icon" th:href="@{/img/MoonPatch_v001.svg}" type="image/x-icon">
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!--BOOTSTRAP ICONS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!--MAIN CSS-->
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <!--    can delete later, just to see main body in all the pages for now vv -->
    <link rel="stylesheet" th:href="@{/css/deleteLater.css}">
    <!--    can delete later, just to see main body in all the pages for now ^^ -->
    <link rel="stylesheet" th:href="@{/css/styling.css}">


</head>

<body>

<!-- NAVBAR -->
<nav th:fragment="navbar"
     class="navbar navbar-expand-lg bg-light shadow-sm fixed-top"
     style="height: 60px;">
    <div class="container-fluid">
        <div class="d-flex align-self-start w-25 pt-2">
            <a class="flex-grow-1 navbar-brand" href="/">
                <h1 class="text-dark">Feed.</h1>
            </a>
        </div>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#main-nav">
            <!--<span class="navbar-toggler-icon"></span>-->
            <span class="text-dark fs-1 border-0"><i class="bi bi-chevron-double-down"></i></span>
        </button>
        <div class="bg-light collapse navbar-collapse" id="main-nav">
            <!--NO AUTH USER-->
            <div sec:authorize="!isAuthenticated()">
                <ul class="navbar-nav flex-row flex-end me-auto mb-1 mb-lg-0">
                    <li class="nav-item"
                        th:classappend="${#httpServletRequest.getRequestURI() == '/recipes' ? 'active' : ''}">
                        <a class="active links btn m-2 border-0" th:href="@{/recipes}">Feed</a>
                    </li>
                    <li class="nav-item"
                        th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active' : ''}">
                        <a class="links btn m-2 border-0" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item"
                        th:classappend="${#httpServletRequest.getRequestURI() == '/user/register' ? 'active' : ''}">
                        <a class="links btn m-2 border-0" th:href="@{/user/register}">Register</a>
                    </li>
                    <li class="nav-item"
                        th:classappend="${#httpServletRequest.getRequestURI() == '/about' ? 'active' : ''}">
                        <a class="links btn m-2 border-0" th:href="@{/about}">About</a>
                    </li>
                </ul>
            </div>
            <!--AUTH USER-->
            <div sec:authorize="isAuthenticated()">
                <ul class="navbar-nav flex-row flex-end me-auto">
                    <li class="nav-item m-2"
                        th:classappend="${#httpServletRequest.getRequestURI() == '/recipes' ? 'active' : ''}">
                        <a class="links btn m-2 border-0" th:href="@{/recipes}">Feed</a>
                    </li>
                    <li class="nav-item m-2"
                        th:classappend="${#httpServletRequest.getRequestURI() == '/about' ? 'active' : ''}">
                        <a class="links btn m-2 border-0" th:href="@{/about}">About</a>
                    </li>
                    <li class="nav-item m-2"
                        th:classappend="${#httpServletRequest.getRequestURI() == '/user/profile' ? 'active' : ''}">
                        <a class="links btn m-2 border-0" th:href="@{/user/profile}">Profile</a>
                    </li>
                    <li class="nav-item m-2"
                        th:classappend="${#httpServletRequest.getRequestURI() == '/logout' ? 'active' : ''}">
                        <form th:action="@{/logout}" th:method="post">
                            <button class="links btn m-2 border-0">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!--HEADER-->
<section th:fragment="header (headerName)" id="header">
    <div class="container w-74 d-flex justify-content-between align-items-center">
        <!--Flex heading-->
        <div>
            <h1 th:text="${headerName}"></h1>
        </div>
    </div>

</section>


<!--MODEL for ADMIN-->
<div th:fragment="recipe-details-modal" class="modal fade" id="recipe-details-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <!--JS MODAL CONTENT HERE-->
            <div id="recipe-details-modal-content">
                <!--header-->
                <div class="modal-header">
                    <img src="#" alt="Image data here">
                </div>
                <!--body-->
                <div class="modal-body">
                    <h4>Title</h4>
                    <ul>
                        <li>Summary</li>
                        <li>Instructions</li>
                        <li>Time:</li>
                    </ul>
                    <h4>Ingredients</h4>
                    <ul>                                    <!--for each here-->
                        <li>Cid</li>
                        <li>Name</li>
                        <li>Origin</li>
                    </ul>
                    <h4>Diet Notes:</h4>
                    <ul>
                        <li>vegetarian: bool</li>
                        <li>vegan: bool</li>
                        <li>gluten free: bool</li>
                        <li>dairy free: bool</li>
                        <li>weight watchers smart points: num</li>
                        <li>dish type: string list</li>
                    </ul>

                </div>
                <!--footer-->
                <div class="modal-footer">
                    <div>
                        <small>Source: source_name</small>
                    </div>
                    <form action="x">
                        <div id="recipe-data">
                            <input type="hidden" name="image-url" value="#">
                            <input type="hidden" name="cid" value="#">
                            <input type="hidden" name="title" value="#">
                            <input type="hidden" name="summary" value="#">
                            <input type="hidden" name="instructions" value="#">
                            <input type="hidden" name="ready_in_minutes" value="#">
                            <input type="hidden" name="servings" value="#">
                            <input type="hidden" name="source_name" value="#">
                            <input type="hidden" name="source_url" value="#">
                            <input type="hidden" name="vegetarian" value="#">
                            <input type="hidden" name="ingredients_cid" value="#">
                            <input type="hidden" name="vegan" value="#">
                            <input type="hidden" name="gluten_free" value="#">
                            <input type="hidden" name="dairy_free" value="#">
                            <input type="hidden" name="weight_watchers_smart_points" value="#">
                            <input type="hidden" name="dish_type" value="#">
                        </div>
                        <div id="ingredients">      <!--for each-->
                            <input type="hidden" name="ingredients_name" value="#">
                            <input type="hidden" name="ingredients_original" value="#">
                            <input type="hidden" name="ingredients_amount" value="#">
                            <input type="hidden" name="ingredients_unit" value="#">
                        </div>
                        <div>
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary" type="button">Add to DB</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<!--REGISTRATION FORM ON HOME/INDEX-->
<div th:fragment="registration" class="container d-flex align-items-center justify-content-center">
    <div class="border border rounded-3 p-4 m-5 bg-secondary bg-opacity-10" style="width: 40em">
        <div th:replace="partials/partials.html :: header ('Create an Account')"></div>
        <form th:action="@{/}" method="POST" th:object="${user}" onsubmit="submitForm(event)">
            <div class="my-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" th:field="*{username}" th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="invalid-feedback"></div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" th:field="*{email}"
                       th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></div>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" th:field="*{password}"
                       th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></div>
            </div>
            <div class="mb-3">
                <label for="confirm" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirm">
            </div>
            <button id="submit" type="submit" class="btn btn-success col-12">Submit</button>
        </form>
    </div>
</div>


<!--MODAL FOR EMAIL ON -->
<div th:fragment="emailModal" class="modal fade" id="staticBackdropEmail" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabelEmail">Email This Recipe/ Link to recipe:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <!--                <li id="grey-contactus-icon"><a th:href="'mailto:Another Foodie?subject=' + ${recipe.title} + '&body=Hello! I thought you\'d be interested in this recipe!' + ${recipe.info}">Click to send email</a></li>-->
                <li><a th:href="'#'">Test</a></li>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!--FOOTER-->
<footer th:fragment="footer" class="navbar fixed-bottom">
    <div class="d-grid col-12">
        <a class="links btn btn-light bg-light" data-bs-toggle="collapse" href="#collapse1" role="button"
           aria-expanded="false" aria-controls="collapse1">Developers</a>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <!--OUR GITHUBS-->
            <div class="collapse multi-collapse" id="collapse1">
                <a class="btn btn-outline-dark btn-light m-1" href="https://github.com/Sarguello12" role="button"
                ><i class="bi bi-github"></i
                > Samuel Arguello</a>
                <a class="btn btn-outline-dark btn-light m-1" href="https://github.com/joselopez747" role="button"
                ><i class="bi bi-github"></i
                > Jose Lopez</a>
                <a class="btn btn-outline-dark btn-light m-1" href="https://github.com/LuisSanchez01" role="button"
                ><i class="bi bi-github"></i
                > Luis Sanchez</a>
                <a class="btn btn-outline-dark btn-light m-1" href="https://github.com/WebDevJasonCameron"
                   role="button"
                ><i class="bi bi-github"></i
                > Jason Cameron</a>
                <a class="btn btn-outline-dark btn-light m-1" href="https://github.com/DenniseCamacho" role="button"
                ><i class="bi bi-github"></i
                > Dennise Camacho</a>
                <!--
                https://www.linkedin.com/in/samuelarguello/
                https://www.linkedin.com/in/jasonlcameron/
                https://www.linkedin.com/in/jose-lopez747/
                https://www.linkedin.com/in/luis-sanchez01/
                https://www.linkedin.com/in/dennisecamacho/
                -->
            </div>
        </div>
    </div>
</footer>

<!--SCRIPTS-->
<section th:fragment="script-section">

    <script th:inline="javascript">
        var FS_API_KEY = /*[[${@environment.getProperty('fs.api.key')}]]*/
        var SPOON_KEY_ONE = /*[[${@environment.getProperty('spoon.api.key.01')}]]*/
        var SPOON_KEY_TWO = /*[[${@environment.getProperty('spoon.api.key.02')}]]*/
        var SPOON_KEY_THREE = /*[[${@environment.getProperty('spoon.api.key.03')}]]*/
    </script>
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/f2796ec852.js" crossorigin="anonymous"></script>
    <!--Bootstrap JS-->
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!--MOD SCRIPTS-->
    <script th:src="@{/js/password-check.js}"></script>
</section>

</body>
</html>