<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head th:replace="/partials/partials.html :: head ('Create Your Own')" >
    <link href="multiselect.css" rel="stylesheet">
</head>

<meta charset="UTF-8" />
<body>

         <ul th:replace="/partials/partials.html :: navbar"></ul>
         <section th:replace="/partials/partials.html :: header ('Create Your Own')"></section>
         <form th:action="@{/recipes/create.html}" method="post">
             <form th:action="@{/recipes/{action}(action=${'create'})}"
                   th:method="post" >
             <form>
                 <label for="category">Select a Category</label>
<!--                 <input type="checkbox" id="category" >-->
                 <select id="category" multiple>
                     <option value="1">Mexican</option>
                     <option value="2">Italian</option>
                     <option value="3">Chinese</option>
                 </select>
                 <br><br>
                 <input type="submit" value="Post">
                 <br><br>
             </form>
                 <label for="dishName">Dish Name</label>
                 <input type="text" id="dishName" >
                 <br><br>
                 <label for="description">Description</label>
                 <br><br>
                 <input type="text" id="description" >
                 <br><br>
<!--                 May require breaks to space, edit once displayed -->
        <div>
            <form>
                 <label for="ingredient">Ingredients List</label>
                 <input type="text" id="ingredient">
                 <br><br>
                 <label for="iAmount">Amount</label>
                 <input type="number" id="iAmount">
                 <br><br>
                 <input type="submit" value="Post">
                 <br><br>
            </form>
        </div>
                 <label for="instructions">Instructions</label>
                 <input type="text" id="instructions">
                 <br><br>
                 <label for="time">Time</label>
                 <input type="text" id="time">
                 <br><br>
                 <label for="servings">Servings</label>
                 <input type="number" id="servings">
                 <br><br>
                 <label for="vegetarian">Vegetarian</label>
                 <input type="checkbox" id="vegetarian" >
                 <label for="vegan">Vegan</label>
                 <input type="checkbox" id="vegan" >
                 <label for="glutenFree">Gluten Free</label>
                 <input type="checkbox" id="glutenFree" >
                 <label for="dairyFree">Dairy Free</label>
                 <input type="checkbox" id="dairyFree" ><br><br>
             </form>
                 <input type="submit" value="Edit">
                 <input type="submit" value="Submit">
         </form>
         <footer th:replace="/partials/partials.html :: footer"></footer>

         <section th:replace="/partials/partials.html :: script-section"></section>

</body>
</html>