<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/partials/partials.html :: head ('Edit Recipe')" ></head>
<body>
<ul th:replace="/partials/partials.html :: navbar"></ul>
<form th:action="@{/recipes/edit.html}"
      th:method="post" >
    <section th:replace="/partials/partials.html :: header ('Edit Your Recipe')"></section>
    <form>
        <label for="category">Select a Category</label>
        <br>
        <select name="category" id="category">
            <option value="select" disabled="disabled" selected="selected">Select</option>
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="dessert">Dessert</option>
            <option value="main">Main</option>
            <option value="appetizer">Appetizer</option>
            <option value="side dishes">Side Dishes</option>
            <option value="dips & sauces">Dips & Sauces</option>
            <option value="condiments">Condiments</option>
        </select>
        <br><br>
    </form>
    <label for="dishName">Dish Name</label>
    <br>
    <input type="text" id="dishName" >
    <br><br>
    <label for="description">Description</label>
    <br>
    <textarea id="description" name="description" rows="4" cols="50">
Add bacon to everything with a slice of rum cake.
        -Justin
</textarea>
    <br><br>
    <div>
        <form>
            <label for="ingredient">Ingredients List</label>
            <br>
            <input type="text" id="ingredient">
            <br><br>
            <label for="iAmount">Amount</label>
            <br>
            <input type="number" id="iAmount">
            <br><br>
        </form>
    </div>
    <label for="instructions">Instructions</label>
    <br>
    <textarea id="instructions" name="instructions" rows="4" cols="50">
Again, just add bacon to everything with a slice of rum cake.
        -Justin
</textarea>
    <br><br>
    <label for="time">Time</label>
    <br>
    <input type="text" id="time">
    <br><br>
    <label for="servings">Servings</label>
    <br>
    <input type="number" id="servings">
    <br><br>
    <label for="vegetarian">Vegetarian</label>
    <input type="checkbox" id="vegetarian" >
    <label for="vegan">Vegan</label>
    <input type="checkbox" id="vegan" >
    <label for="glutenFree">Gluten Free</label>
    <input type="checkbox" id="glutenFree" >
    <label for="dairyFree">Dairy Free</label>
    <input type="checkbox" id="dairyFree" ><br><br>
</form>
<input type="submit" value="Submit">
</form>
<footer th:replace="/partials/partials.html :: footer"></footer>

<section th:replace="/partials/partials.html :: script-section"></section>

</body>
</html>