/*FOR THE FIXED NAVBAR/FOOTER, MAKING A VIEWABLE MAIN AREA*/
body {
    padding-top: 100px;
    padding-bottom: 150px;
}

/*HOME INDEX*/
.firstCard, .secondCard, .thirdCard {
    border-style: none;
}

.firstCardTextSection, .secondCardTextSection, .thirdCardTextSection {
    padding: 5vh 0px 0px 0px;
}

/*ABOUT PAGE CSS :) v-v*/

.fourthCard, .fifthCard {
    border-style: none;
    padding: 0px 0px 0px 0px;
}

.fourthCardTextSelection, .fifthCardTextSelection {
    padding: 0px 0px 0px 0px;
}


/*^FOR THE FIXED NAVBAR/FOOTER, MAKING A VIEWABLE MAIN AREA^*/


/*SMALLER SCREEN CAUSES THE MAIN AREA TO BE COVERED BY THE NAV BAR,
 EXTRA PADDING IS NEEDED TO FIX THAT ISSUE.*/
@media only screen and (max-width: 600px) {
    /*FOR THE FIXED NAVBAR/FOOTER, MAKING A VIEWABLE MAIN AREA*/
    body {
        padding-top: 145px;
        padding-bottom: 150px;
    }

    /*ABOUT PAGE CSS :) v-v*/

    .fourthCard, .fifthCard {
        border-style: none;
        padding: 0px 0px 0px 0px;
    }

    .fourthCardTextSelection, .fifthCardTextSelection {
        padding: 0px 0px 0px 0px;
    }


}
