
/* CAT FILTER BTN */
.cat-filter-btn {
    cursor: pointer;
}

.cat-filter-btn img:hover {
    opacity: 0.5;
}

/* CAT CONTAINER*/
/*.cat-contents {*/
/*    height: 100px;*/
/*    width: 100px;*/
/*}*/

/*register form error styling*/
.invalid-feedback {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}
