
/* CAT FILTER BTN */
.cat-filter-btn {
    cursor: pointer;
}

.cat-filter-btn img:hover {
    opacity: 0.5;
}

/* CAT CONTAINER*/
/*.cat-contents {*/
/*    height: 100px;*/
/*    width: 100px;*/
/*}*/

/*register form error styling*/
.invalid-feedback {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}

.fade-in-image {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in-text {
    font-size: 40px;
    animation: fadeIn 5s;
}


/*  About Page  */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

#about .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    width: 250px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.about-section p {
    font-size: large;
    font-weight: bold;
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: black;
}


.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
   #about .card {
        width: 100%;
        display: block;
        overflow: scroll;
    }

    .btn i.bi-codeup {
        background-image: url("https://coursereport-s3-production.global.ssl.fastly.net/uploads/school/logo/59/original/CodeupFullColorChevronYT.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        /*float: left;*/
        /*width: 10px;*/
        /*height: 40px;*/
        /*padding: 16px;*/
        /*border-radius: 8px;*/
    }

}
