<!--
    ABOUT INDEX
    FEED.
    CodeUp Capstone, Titan Cohort
    2022 06 27
    Devs:   Samuel Arguello
            Dennise Camacho
            Jason Cameron
            Jose Lopez
            Luis Sanchez
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partials.html :: head ('About Page')" ></head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <!--NAV-->
    <nav th:replace="partials/partials.html :: navbar"></nav>

<body id="about">

<div class="about-section">
<!--    <h1>About Us Page</h1>-->
    <p>"Feed. is a recipe social media application for food lovers to search for recipes to enjoy <br>
        as well as the ability to share created recipes with other users looking to try these tasty <br>
        dishes from the comfort of their home. We invite you to be part of our feed"<br>
    </p>
</div>

<h2 style="text-align:center" class="mt-3">Our Team</h2>
<div class="container-fluid">
<div class="d-flex flex-wrap justify-content-center">
    <!--JASON-->
    <div class="card about-card">
        <!--IMG-->
        <div>
            <img src="https://ca.slack-edge.com/T029BRGN0-U030M5QDGD6-6ecd9a7a6144-512" alt="Jason" style="width:100%">
        </div>
        <!--FULL SCREEN-->
        <div class="d-none d-sm-block">
            <!--NAME-->
            <div class="px-3 pt-3">
                <h2>Jason <br> Cameron</h2>
            </div>
            <!--BIO-->
            <div class="container d-flex flex-column align-items-start">
                <div>
                    <p class="title">Full Stack Web Developer</p>
                </div>
                <div>
                    <p>
                        I am a professional that desires to make great products and figure out solutions to important problems. It is my goal to make anyplace I work better than when I first started. Thank you for taking the time to view our site.
                    </p>
                </div>
            </div>
            <!--NAV ICONS-->
            <div class="h-100 d-flex align-items-end mb-4">
                <div class="container d-flex justify-content-center">
                    <a class="btn btn-outline-dark btn-light mx-3" href="https://github.com/WebDevJasonCameron" role="button">
                        <i class="bi bi-github"></i>
                    </a>
                    <a class="btn btn-outline-dark btn-light" href="https://www.linkedin.com/in/jasonlcameron/" role="button">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a class="btn btn-outline-dark btn-light mx-3" href="https://alumni.codeup.com/students/1520" role="button">
                        <i class="bi bi-laptop-fill"></i>
                    </a>
                </div>
            </div>
        </div>
        <!--MOBILE SCREEN-->
        <div class="d-block d-">
            <div>
                <div class="px-3 pt-3">
                    <h2>Jason Cameron</h2>
                </div>
                <!--EXPAND LINK-->
                <div>
                    <a class="btn border-0" data-t
                </div>
            </div>
            <!--DEV DATA-->
            <div>
                <!--BIO-->
                <div class="container d-flex flex-column align-items-start">
                    <div>
                        <p class="title">Full Stack Web Developer</p>
                    </div>
                    <div>
                        <p>
                            I am a professional that desires to make great products and figure out solutions to important problems. It is my goal to make anyplace I work better than when I first started. Thank you for taking the time to view our site.
                        </p>
                    </div>
                </div>
                <!--NAV ICONS-->
                <div class="h-100 d-flex align-items-end mb-4">
                    <div class="container d-flex justify-content-center">
                        <a class="btn btn-outline-dark btn-light mx-3" href="https://github.com/WebDevJasonCameron" role="button">
                            <i class="bi bi-github"></i>
                        </a>
                        <a class="btn btn-outline-dark btn-light" href="https://www.linkedin.com/in/jasonlcameron/" role="button">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a class="btn btn-outline-dark btn-light mx-3" href="https://alumni.codeup.com/students/1520" role="button">
                            <i class="bi bi-laptop-fill"></i>
                        </a>
                    </div>
                </div>
            </div>




        </div>


    </div>

    <!--SAM-->
    <div class="card about-card">
        <!--IMG-->
        <div>
            <img src="https://ca.slack-edge.com/T029BRGN0-U02V8FZRWG5-1033eebb1a30-512" alt="Sam" style="width:100%">
        </div>
        <!--NAME-->
        <div class="px-3 pt-3">
            <h2>Samuel <br> Arguello</h2>
        </div>
        <!--BIO-->
        <div class="container d-flex flex-column align-items-start">
            <div>
                <p class="title">Full Stack Web Developer</p>
            </div>
            <div>
                <p>
                    I am a passionate learner with a love of software development dedicated to becoming the best programmer I can possibly be. I look forward to growing my skill and solving more complex problems by working with my teammates and learning from my mentors.
                </p>
            </div>
        </div>
        <!--NAV ICONS-->
        <div class="h-100 d-flex align-items-end mb-4">
            <div class="container d-flex justify-content-center">
                <a class="btn btn-outline-dark btn-light mx-3" href="https://github.com/Sarguello12" role="button">
                    <i class="bi bi-github"></i>
                </a>
                <a class="btn btn-outline-dark btn-light" href="https://www.linkedin.com/in/samuelarguello/" role="button">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a class="btn btn-outline-dark btn-light mx-3" href="https://alumni.codeup.com/students/1523" role="button">
                    <i class="bi bi-laptop-fill"></i>
                </a>
            </div>
        </div>
    </div>

    <!--LUIS-->
    <div class="card about-card">
        <!--IMG-->
        <div>
            <img src="https://ca.slack-edge.com/T029BRGN0-U02V8FZL4DB-3b1994898f3b-512" alt="Luis" style="width:100%">
        </div>
        <!--NAME-->
        <div class="px-3 pt-3">
            <h2>Luis <br> Sanchez</h2>
        </div>
        <!--BIO-->
        <div class="container d-flex flex-column align-items-start">
            <div>
                <p class="title">Full Stack Web Developer</p>
            </div>
            <div>
                <p>
                    I am a Navy veteran and father that enjoys fitness and sports ready for the world of software engineering.
                </p>
            </div>
        </div>
        <!--NAV ICONS-->
        <div class="h-100 d-flex align-items-end mb-4">
            <div class="container d-flex justify-content-center">
                <a class="btn btn-outline-dark btn-light mx-3" href="https://github.com/LuisSanchez01" role="button">
                    <i class="bi bi-github"></i>
                </a>
                <a class="btn btn-outline-dark btn-light" href="https://www.linkedin.com/in/luis-sanchez01/" role="button">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a class="btn btn-outline-dark btn-light mx-3" href="https://alumni.codeup.com/students/1516" role="button">
                    <i class="bi bi-laptop-fill"></i>
                </a>
            </div>
        </div>
    </div>

    <!--DENNISE-->
    <div class="card about-card">
        <!--IMG-->
        <div>
            <img src="https://ca.slack-edge.com/T029BRGN0-U030M5RGKU0-4c4be9f2fcf1-512" alt="Dennise" style="width:100%">
        </div>
        <!--NAME-->
        <div class="px-3 pt-3">
            <h2>Dennise <br> Camacho</h2>
        </div>
        <!--BIO-->
        <div class="container d-flex flex-column align-items-start">
            <div>
                <p class="title">Full Stack Web Developer</p>
            </div>
            <div>
                <p>
                    I am an Air Force Veteran who likes hiking, drawing, cooking, hanging out with friends and coding.
                </p>
            </div>
        </div>
        <!--NAV ICONS-->
        <div class="h-100 d-flex align-items-end mb-4">
            <div class="container d-flex justify-content-center">
                <a class="btn btn-outline-dark btn-light mx-3" href="https://github.com/DenniseCamacho" role="button">
                    <i class="bi bi-github"></i>
                </a>
                <a class="btn btn-outline-dark btn-light" href="https://www.linkedin.com/in/dennisecamacho/" role="button">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a class="btn btn-outline-dark btn-light mx-3" href="https://alumni.codeup.com/students/1508" role="button">
                    <i class="bi bi-laptop-fill"></i>
                </a>
            </div>
        </div>
    </div>

    <!--JOSE-->
    <div class="card about-card">
        <!--IMG-->
        <div>
            <img src="https://ca.slack-edge.com/T029BRGN0-U030M5S0CP2-5312bac2f92b-512" alt="Jose" style="width:100%">
        </div>
        <!--NAME-->
        <div class="px-3 pt-3">
            <h2>Jose <br> Lopez</h2>
        </div>
        <!--BIO-->
        <div class="container d-flex flex-column align-items-start">
            <div>
                <p class="title">Full Stack Web Developer</p>
            </div>
            <div>
                <p>
                    Some text that describes me lorem ipsum ipsum lorem.
                </p>
            </div>
        </div>
        <!--NAV ICONS-->
        <div class="h-100 d-flex align-items-end mb-4">
            <div class="container d-flex justify-content-center">
                <a class="btn btn-outline-dark btn-light mx-3" href="https://github.com/joselopez747" role="button">
                    <i class="bi bi-github"></i>
                </a>
                <a class="btn btn-outline-dark btn-light" href="https://www.linkedin.com/in/jose-lopez747/" role="button">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a class="btn btn-outline-dark btn-light mx-3" href="https://alumni.codeup.com/students/1514" role="button">
                    <i class="bi bi-laptop-fill"></i>
                </a>
            </div>
        </div>
    </div>
</div>
</div>


    <!--FOOTER-->
    <footer th:replace="partials/partials.html :: footer"></footer>

    <!--SCRIPTS-->
    <section th:replace="partials/partials.html :: script-section"></section>
</body>
</html>