<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/partials/partials.html :: head ('About Page')" ></head>
<meta charset="UTF-8" />
    <!--NAV-->
    <nav th:replace="/partials/partials.html :: navbar"></nav>

    <!--HEADER-->
    <section th:replace="/partials/partials.html :: header ('About Us')"></section>

<style>
     body {
         /*background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVvPTewP1VgFko_dSU73MGcU47nILivLwBcw&usqp=CAU');*/
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-size: cover;
         background-color: white;
     }
</style>
<body>

<div class="about-section fade-in-text" style="background-color: ghostwhite; color: black; font-stretch: expanded">
<!--    <h1 style="font-size: 45px">About Us</h1>-->
    <p class="fade-in-text" style="font-size: 25px; font-style: italic">"Feed. is an engaging recipe social media application created for food lovers who want to find new recipes,
        remix existing recipes, and create new recipes to share with fellow food lovers. We invite you to be part
        of the culturally universal experience."</p>
</div>

<h2 class="fade-in-text" style="text-align:center; font-size: 40px; font-stretch: expanded">Our Team</h2>
<br>
<div class="row">
    <div class="column">
        <div class="card" style="background-color: ghostwhite; width: 20rem; left: 5em">
            <img src="https://avatars.githubusercontent.com/u/50087642?s=70&v=4" alt="Jason" style="width:100%">
            <div class="container">
                <h2>Jason Cameron</h2>
                <p class="title">Web Developer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>Dev.JasonCameron@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card" style="background-color: ghostwhite; width: 20rem; left: 5em">
            <img src="https://avatars.githubusercontent.com/u/80545434?s=70&v=4" alt="Sam" style="width:100%">
            <div class="container">
                <h2>Samuel Arguello</h2>
                <p class="title">Web Developer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>sam.arguello2@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card" style="background-color: ghostwhite; width: 20rem; left: 5em">
            <img src="https://avatars.githubusercontent.com/u/98361722?s=70&v=4" alt="Luis" style="width:100%">
            <div class="container">
                <h2>Luis Sanchez</h2>
                <p class="title">Web Developer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>Sanchez.Alberto.Luis01@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card" style="background-color: ghostwhite; width: 20rem; left: 22em">
            <img src="https://avatars.githubusercontent.com/u/98361785?s=70&v=4" alt="Dennise" style="width:100%">
            <div class="container">
                <h2>Dennise Camacho</h2>
                <p class="title">Web Developer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>dennise.e.camacho@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card" style="background-color: ghostwhite; width: 20rem; left: 20em">
            <img src="https://avatars.githubusercontent.com/u/98362003?s=70&v=4" alt="Jose" style="width:100%">
            <div class="container">
                <h2>Jose Lopez</h2>
                <p class="title">Web Developer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>jose.m.lopez747@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>














    <!--SOCIAL MEDIA-->
    <!--FOOTER-->
    <footer th:replace="/partials/partials.html :: footer"></footer>

    <!--SCRIPTS-->
    <section th:replace="/partials/partials.html :: script-section"></section>
</body>
</html>