<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="/partials/partials.html :: head ('Home Test')"></head>
    <body>
        <!--NAV-->
        <nav th:replace="/partials/partials.html :: navbar"></nav>
        <!--HEADER-->
        <section th:replace="/partials/partials.html :: header('Home Test')"></section>
        <!--MAIN-->
            <div class="card firstCard d-flex flex-row-reverse flex-wrap">
                    <div class="col-6">
                        <img src="https://source.unsplash.com/random/561x561/?pizza" class="card-img float-end" alt="Responsive image">
                    </div>
                     <div class="col-6">
                            <h5 class="card-title">(First Card)</h5>
                            <p class="card-text font-italic">(First Card) Move writing to the left</p>
                            <p class="card-text"><small class="text-muted"></small></p>
                     </div>
            </div>
            <div class="card secondCard d-flex flex-row flex-wrap">
                <div class="row no-gutters">
                    <div class="col-6">
                        <img src="https://source.unsplash.com/random/561x561/?tacos" class="card-img" alt="...">
                    </div>
                    <div class="col-6">
                        <div class="card-body">
                            <h5 class="card-title">(Second Card)</h5>
                            <p class="card-text font-italic">(Second Card) Move writing to the right</p>
                            <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="card thirdCard d-flex flex-row-reverse flex-wrap">
            <div class="col-6">
                <img src="https://source.unsplash.com/random/561x561/?pizza" class="card-img float-end" alt="Responsive image">
            </div>
            <div class="col-6">
                <h5 class="card-title">(Third Card)</h5>
                <p class="card-text font-italic">(Third Card) Move writing to the left</p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>


        <!--FOOTER-->
        <footer th:replace="/partials/partials.html :: footer"></footer>

        <!--SCRIPTS-->
        <section th:replace="/partials/partials.html :: script-section"></section>
    </div>
    </body>
    </html>